@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --accent: #3689fc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(253, 253, 253);
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  cursor: pointer;
}

.header {
  text-align: center;
}

h1 {
  margin: 32px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin: 32px;
}

.book {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
  width: 30ch;
}

.book > *::before {
  font-weight: 700;
}

.title::before {
  content: "Title: ";
}

.author::before {
  content: "Author: ";
}

.numPages::before {
  content: "Pages: ";
}

.isRead::before {
  content: "Status: ";
}

.footer {
  font-size: 1.2rem;
  margin-top: 32px;
  text-align: center;
}

.footer-icons a {
  font-size: 2em;
  user-select: none;
}

.footer-text {
  margin-top: 8px;
}
