@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --accent: #3689fc;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  background-color: #fff;
  border-radius: 6px;
  left: 50%;
  padding: 32px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

label {
  display: block;
  margin-bottom: 4px;
}

.button-container {
  display: flex;
  gap: 8px;
  justify-content: right;
  margin-top: 32px;
}

button {
  border: 0;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 8px 24px;
  transition: 0.2s transform ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.96);
}

button.add {
  background-color: var(--accent);
}

button.add:hover {
  background-color: hsl(215, 98%, 68%);
}

button.add:active {
  background-color: hsl(215, 97%, 76%);
}

button.cancel,
button.delete {
  background-color: #dc3545;
}

button.cancel:hover,
button.delete:hover {
  background-color: hsl(354, 70%, 62%);
}

button.cancel:active,
button.delete:active {
  background-color: hsl(354, 70%, 70%);
}

.header {
  margin: 32px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: grid;
  max-width: 1400px;
  width: 100%;
}

main > button {
  justify-self: center;
  margin: 32px 32px 0;
  padding: 16px 48px;
}

.book-list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, 30ch);
  justify-content: center;
  margin: 32px;
}

.book {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
  width: 30ch;
}

.book > *::before {
  font-weight: 700;
}

.title::before {
  content: "Title: ";
}

.author::before {
  content: "Author: ";
}

.numPages::before {
  content: "Pages: ";
}

.isRead::before {
  content: "Status: ";
}

.buttons-container {
  display: flex;
  justify-content: end;
}

.book button {
  display: grid;
  font-size: 1.5rem;
  padding: 5px;
}

.iconify {
  pointer-events: none;
}

.footer {
  font-size: 1.2rem;
  margin-top: auto;
  text-align: center;
}

.footer-icons a {
  font-size: 2em;
  user-select: none;
}

.footer-text {
  margin-top: 8px;
}
